<h3 style="padding: 0 10px">最新活动</h3>

<div class="activities">
    <div class="activity">
        <div class="activity-img">
            <img src="images/111.jpg" alt="浏览器不支持">
        </div>
        <div class="activity-block">
            <div class="activity-content">
                <h4>活动1</h4>

                <p>活动1详情</p>
            </div>
            <!--<div class="clearfix"></div>-->
            <div class="activity-state">
                <div>
                    <label>正在进行</label>
                    <label>44444人参与</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>