<!DOCTYPE html>
<html>
<head>
    <title>伙伴</title>
    <!--fonts-->
    <!--<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
</head>
<body>
<!-- header -->
<include file="Application/Public/tpl/header.html" />
<!-- //header -->

<div class="main" style="margin-top: 130px">
    <div class="container">
        <div class="col-md-3 announce">
            <!-- 公告-->
            <div class="title">
                <p>公告</p>
            </div>
            <div class="announce-list">
                <ul>
                    <li>公告1</li>
                    <li>公告2</li>
                    <li>公告3</li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <h3 style="padding: 0 10px;font-weight: bold">最新活动</h3>

            <div class="activities">
                <div class="activity">
                    <div class="activity-img">
                        <img src="images/banner.jpg" alt="浏览器不支持">
                    </div>
                    <div class="activity-block">
                        <div class="activity-content">
                            <a href="#"><h4>活动1</h4></a>

                            <p>活动1详情</p>
                        </div>
                        <!--<div class="clearfix"></div>-->
                        <div class="activity-state">
                            <div>
                                <label>正在进行</label>
                                <label>44444人参与</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-img">
                        <img src="images/banner.jpg" alt="浏览器不支持">
                    </div>
                    <div class="activity-block">
                        <div class="activity-content">
                            <h4>活动1</h4>

                            <p>活动1详情</p>
                        </div>
                        <!--<div class="clearfix"></div>-->
                        <div class="activity-state">
                            <div>
                                <label>正在进行</label>
                                <label>44444人参与</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-img">
                        <img src="images/banner.jpg" alt="浏览器不支持">
                    </div>
                    <div class="activity-block">
                        <div class="activity-content">
                            <h4>活动1</h4>

                            <p>活动1详情</p>
                        </div>
                        <!--<div class="clearfix"></div>-->
                        <div class="activity-state">
                            <div>
                                <label>正在进行</label>
                                <label>44444人参与</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity">
                    <div class="activity-img">
                        <img src="images/banner.jpg" alt="浏览器不支持">
                    </div>
                    <div class="activity-block">
                        <div class="activity-content">
                            <h4>活动1</h4>

                            <p>活动1详情</p>
                        </div>
                        <!--<div class="clearfix"></div>-->
                        <div class="activity-state">
                            <div>
                                <label>正在进行</label>
                                <label>44444人参与</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="page">
                <ul class="pagination">
                    <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                    <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<!--footer-->
<include file="Application/Public/tpl/footer.html" />
<!--//footer-->
<!--copy-right-->
<include file="Application/Public/tpl/copy-right.html" />
<!--//copy-right-->

<!-- for bootstrap working -->
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
