<!DOCTYPE html>
<html>
<head>
    <title>伙伴</title>
    <!--fonts-->
    <!--<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
    <script>
        function setCookie(){
            document.cookie = "userId={$user.uid}";
            var nav = document.getElementsByClassName("hvr-bounce-to-bottom")[3];
            nav.setAttribute("class",nav.getAttribute("class").concat(" active"));
//            script for menu
            $("span.menu2").click(function () {
                $("ul.effct1").slideToggle(300, function () {
                    // Animation complete.
                });
            });
            getUsers();
        }
    </script>
</head>
<body onload="setCookie()">
<!-- header -->
<include file="Application/Public/tpl/header.html" />
<!-- //header -->

<div class="main" style="margin-top: 130px">
    <div class="container">
        <div class="col-md-3" style="padding: 0; min-height: 500px">
            <div class="top-nav2">
                <span class="menu2"><img src="__PUBLIC__/images/menu.png" alt=""> <lable>伙伴建议</lable></span>
                <ul class="effct1" style="display: block;">
                    <li class="active m5" onclick="getUsers()"><a href="#doctor" data-toggle="tab">我的用户</a></li>
                    <li class="m7" onclick="getServiceAdvices()"><a href="#advice_list" data-toggle="tab">我的建议</a></li>
                    <li class="m8" onclick="getServiceQuestions()"><a href="#question_list" data-toggle="tab">用户提问</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div id="advice" class="tab-content">
                <div class="tab-pane fade in active" id="doctor">
                    <h2>我的用户</h2>
                    <hr>
                    <div class="doctors" id="doctors">
                        <div id="myDoctors"></div>
                        <nav class="page">
                            <ul class="pagination">
                                <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                                <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="tab-pane fade" id="advice_list">
                    <h2>我给出的建议</h2>
                    <hr>
                    <div id="advices">
                        <li class="list-item">
                            <div class="question">
                                <p><span>提问：</span>请问怎么高效减肥？</p>
                            </div>
                            <hr>
                            <div class="answer">
                                <p><span>建议：</span>减肥一般可以早上运动</p>
                                <!--<img src="images/img2.jpg" alt="浏览器不支持">-->
                                <div class="offer">
                                    <h4>七秒悲伤<span class="badge">医生</span></h4>
                                </div>
                                <div class="offer-time">
                                    2015/10/22 19:22
                                </div>
                            </div>
                        </li>
                    </div>
                    <nav class="page">
                        <ul class="pagination">
                            <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                            <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-pane fade" id="question_list">
                    <h2>用户提问</h2>
                    <hr>
                    <div id="myQuestions"></div>
                    <nav class="page">
                        <ul class="pagination">
                            <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                            <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal-->
<include file="Application/Public/tpl/modal_success.html" />
<include file="Application/Public/tpl/reply_modal.html" />
<!--//modal-->
<!--footer-->
<include file="Application/Public/tpl/footer.html" />
<!--//footer-->
<!--copy-right-->
<include file="Application/Public/tpl/copy-right.html" />
<!--//copy-right-->

<!-- for bootstrap working -->
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/advice.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
