<!DOCTYPE html>
<html>
<head>
    <title>伙伴</title>
    <!--fonts-->
    <!--<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
	<script type="text/javascript" src="__PUBLIC__/js/util.js"></script>
    <script>
        function setCookie(){
            document.cookie = "userId={$user.uid}";
            var nav = document.getElementsByClassName("hvr-bounce-to-bottom")[3];
            nav.setAttribute("class",nav.getAttribute("class").concat(" active"));
//            script for menu
            $("span.menu2").click(function () {
                $("ul.effct1").slideToggle(300, function () {
                    // Animation complete.
                });
            });
            getMyDoctors();
        }
    </script>
</head>
<body onload="setCookie()">
<!-- header -->
<include file="Application/Public/tpl/header.html" />
<!-- //header -->

<div class="main" style="margin-top: 130px">
    <div class="container">
        <div class="col-md-3" style="padding: 0; min-height: 500px">
            <div class="top-nav2">
                <span class="menu2"><img src="__PUBLIC__/images/menu.png" alt=""> <lable>伙伴建议</lable></span>
                <ul class="effct1" style="display: block;">
                    <li class="active m5" onclick="getMyDoctors()"><a href="#doctor" data-toggle="tab">我的医生</a></li>
                    <li class="m6" onclick="getMyCoaches()"><a href="#coach" data-toggle="tab">我的教练</a></li>
                    <li class="m7" onclick="getAdvices()"><a href="#advice_list" data-toggle="tab">我的建议</a></li>
                    <li class="m8" onclick="getMyQuestions()"><a href="#question_list" data-toggle="tab">我的提问</a></li>
                    <li class="m9"><a href="#search" data-toggle="tab">搜索</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div id="advice" class="tab-content">
                <div class="tab-pane fade in active" id="doctor">
                    <h2>医疗专家</h2>
                    <hr>
                    <div class="doctors" id="doctors">
                        <div id="myDoctors"></div>
                        <nav class="page" id="doctorsPage">
                        </nav>
                    </div>
                </div>
                <div class="tab-pane fade" id="coach">
                    <h2>专业教练</h2>
                    <hr>
                    <div class="doctors">
                        <div id="myCoaches"></div>
                        <nav class="page" id="coachPage">
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="advice_list">
                    <h2>伙伴建议</h2>
                    <hr>
                    <div class="doctors">
                        <div id="advices"></div>
                        <nav class="page" id="advicePage">
                        </nav>
                        <div class="clearfix"></div>
                    </div>
				</div>
                <div class="tab-pane fade" id="question_list">
                    <h2>我的提问</h2>
                    <hr>
                    <div class="question-input">
                        <textarea class="my_question" name="question_title" placeholder="标题" id="new_question_title" cols="20" rows="1"></textarea>
                        <textarea class="my_question" name="question_content" placeholder="发表新的问题" id="new_question_content" cols="40" rows="5"></textarea>
                        <button style="float: right" onclick="question()">发表</button>
                        <div class="clearfix"></div>
                    </div>
                    <hr>
                    <div id="myQuestions"></div>
                    <nav class="page" id="questionPage">
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-pane fade" id="search">
                    <h2>搜索你要的</h2>
                    <hr>
                    <div class="search">
                        <form>
                            <input type="search" id="searchName" placeholder="搜索你想要的">
                            <input type="button" onclick="searchUser()">
                        </form>
                        <div id="result">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal-->
<include file="Application/Public/tpl/modal_success.html" />
<!--//modal-->
<!--footer-->
<include file="Application/Public/tpl/footer.html" />
<!--//footer-->
<!--copy-right-->
<include file="Application/Public/tpl/copy-right.html" />
<!--//copy-right-->

<!-- for bootstrap working -->
<script type="text/javascript" src="__PUBLIC__/js/advice.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
