<!DOCTYPE html>
<html>
<head>
    <title>伙伴</title>
    <!--fonts-->
    <!--<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
<!-- header -->
<include file="Application/Public/tpl/header.html" />
<!-- //header -->

<div class="main" style="margin-top: 130px">
    <div class="container">
        <div class="col-md-3" style="padding: 0; min-height: 500px">
            <div class="top-nav2">
                <span class="menu2"><img src="__PUBLIC__/images/menu.png" alt=""> <lable>伙伴建议</lable></span>
                <ul class="effct1" style="display: block;">
                    <li class="active m5"><a href="#doctor" data-toggle="tab">我的医生</a></li>
                    <li class="m6"><a href="#coach" data-toggle="tab">我的教练</a></li>
                    <li class="m7"><a href="#advice_list" data-toggle="tab">我的建议</a></li>
                    <li class="m8"><a href="#question_list" data-toggle="tab">我的提问</a></li>
                    <li class="m9"><a href="#search" data-toggle="tab">搜索</a></li>
                </ul>
                <!-- script-for-menu -->
                <script>
                    $("span.menu2").click(function () {
                        $("ul.effct1").slideToggle(300, function () {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- /script-for-menu -->
            </div>
        </div>

        <div class="col-md-9">
            <div id="advice" class="tab-content">
                <div class="tab-pane fade in active" id="doctor">
                    <h2>医疗专家</h2>
                    <hr>
                    <div class="doctors">
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="images/222.jpg" alt="">
                            </div>
                            <div class="doctor-content">
                                <h4>七秒悲伤 <span class="badge">医生</span></h4>
                                <p>&nbsp&nbsp&nbsp——我的签名我的签名我的签名我的签名我的签名我的签名我的签名我的签名</p>
                                <button>查看用户详情>></button>
                            </div>
                        </div>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="images/222.jpg" alt="">
                            </div>
                            <div class="doctor-content">
                                <h4>七秒悲伤 <span class="badge">医生</span></h4>
                                <p>我的签名</p>
                                <button>查看用户详情>></button>
                            </div>
                        </div>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="images/222.jpg" alt="">
                            </div>
                            <div class="doctor-content">
                                <h4>七秒悲伤 <span class="badge">医生</span></h4>
                                <p>我的签名</p>
                                <button>查看用户详情>></button>
                            </div>
                        </div>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="images/222.jpg" alt="">
                            </div>
                            <div class="doctor-content">
                                <h4>七秒悲伤 <span class="badge">医生</span></h4>
                                <p>我的签名</p>
                                <button>查看用户详情>></button>
                            </div>
                        </div>
                        <nav class="page">
                            <ul class="pagination">
                                <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                                <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="coach">
                    <h2>专业教练</h2>
                    <hr>
                    <div class="doctors">
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="images/222.jpg" alt="">
                            </div>
                            <div class="doctor-content">
                                <h4>七秒悲伤 <span class="badge">教练</span></h4>
                                <p>&nbsp&nbsp&nbsp——我的签名我的签名我的签名我的签名我的签名我的签名我的签名我的签名</p>
                                <button>查看用户详情>></button>
                            </div>
                        </div>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="images/222.jpg" alt="">
                            </div>
                            <div class="doctor-content">
                                <h4>七秒悲伤 <span class="badge">教练</span></h4>
                                <p>我的签名</p>
                                <button>查看用户详情>></button>
                            </div>
                        </div>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="images/222.jpg" alt="">
                            </div>
                            <div class="doctor-content">
                                <h4>七秒悲伤 <span class="badge">医生</span></h4>
                                <p>我的签名</p>
                                <button>查看用户详情>></button>
                            </div>
                        </div>
                        <div class="doctor">
                            <div class="doctor-img">
                                <img src="images/222.jpg" alt="">
                            </div>
                            <div class="doctor-content">
                                <h4>七秒悲伤 <span class="badge">医生</span></h4>
                                <p>我的签名</p>
                                <button>查看用户详情>></button>
                            </div>
                        </div>
                        <nav class="page">
                            <ul class="pagination">
                                <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                                <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="advice_list">
                    <h2>伙伴建议</h2>
                    <hr>
                    <li class="list-item">
                            <div class="question">
                                <p><span>提问：</span>请问怎么高效减肥？</p>
                            </div>
                            <hr>
                            <div class="answer">
                                <p><span>建议：</span>减肥一般可以早上运动</p>
                                <!--<img src="images/img2.jpg" alt="浏览器不支持">-->
                                <div class="offer">
                                    <h4>七秒悲伤<span class="badge">医生</span></h4>
                                </div>
                                <div class="offer-time">
                                    2015/10/22 19:22
                                </div>
                            </div>
                        </li>
                    <li class="list-item">
                            <div class="question">
                                <p><span>提问：</span>请问怎么高效减肥？</p>
                            </div>
                            <hr>
                            <div class="answer">
                                <p><span>建议：</span>减肥一般可以早上运动</p>
                                <!--<img src="images/img2.jpg" alt="浏览器不支持">-->
                                <div class="offer">
                                    <h4>七秒悲伤<span class="badge">医生</span></h4>
                                </div>
                                <div class="offer-time">
                                    2015/10/22 19:22
                                </div>
                            </div>
                        </li>
                    <li class="list-item">
                            <div class="question">
                                <p><span>提问：</span>请问怎么高效减肥？</p>
                            </div>
                            <hr>
                            <div class="answer">
                                <p><span>建议：</span>减肥一般可以早上运动</p>
                                <!--<img src="images/img2.jpg" alt="浏览器不支持">-->
                                <div class="offer">
                                    <h4>七秒悲伤<span class="badge">医生</span></h4>
                                </div>
                                <div class="offer-time">
                                    2015/10/22 19:22
                                </div>
                            </div>
                        </li>
                    <li class="list-item">
                            <div class="question">
                                <p><span>提问：</span>请问怎么高效减肥？</p>
                            </div>
                            <hr>
                            <div class="answer">
                                <p><span>建议：</span>减肥一般可以早上运动</p>
                                <!--<img src="images/img2.jpg" alt="浏览器不支持">-->
                                <div class="offer">
                                    <h4>七秒悲伤<span class="badge">医生</span></h4>
                                </div>
                                <div class="offer-time">
                                    2015/10/22 19:22
                                </div>
                            </div>
                        </li>
                    <nav class="page">
                        <ul class="pagination">
                            <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                            <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-pane fade" id="question_list">
                    <h2>我的提问</h2>
                    <hr>
                    <div class="question-input">
                        <textarea name="question" placeholder="发表新的问题" id="my_question" cols="40" rows="5"></textarea>
                        <button style="float: right">发表</button>
                        <div class="clearfix"></div>
                    </div>
                    <hr>
                    <li class="list-item">
                        <div class="question">
                            <p><span>标题：</span>请问怎么高效减肥？</p>
                        </div>
                        <div class="question-content">
                            <hr>
                            <div>
                                最近吃的有点多，然后体重就一直飙升飙升。。。。。。
                            </div>
                            <br>
                            <div class="offer-time">
                                <span>发表于 </span> 2015/10/22 19:22
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="question">
                            <p><span>标题：</span>请问怎么高效减肥？</p>
                        </div>
                        <div class="question-content">
                            <hr>
                            <div>
                                最近吃的有点多，然后体重就一直飙升飙升。。。。。。
                            </div>
                            <br>
                            <div class="offer-time">
                                <span>发表于 </span> 2015/10/22 19:22
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="question">
                            <p><span>标题：</span>请问怎么高效减肥？</p>
                        </div>
                        <div class="question-content">
                            <hr>
                            <div>
                                最近吃的有点多，然后体重就一直飙升飙升。。。。。。
                            </div>
                            <br>
                            <div class="offer-time">
                                <span>发表于 </span> 2015/10/22 19:22
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="question">
                            <p><span>标题：</span>请问怎么高效减肥？</p>
                        </div>
                        <div class="question-content">
                            <hr>
                            <div>
                                最近吃的有点多，然后体重就一直飙升飙升。。。。。。
                            </div>
                            <br>
                            <div class="offer-time">
                                <span>发表于 </span> 2015/10/22 19:22
                            </div>
                        </div>
                    </li>
                    <nav class="page">
                        <ul class="pagination">
                            <li class=""><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                            <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-pane fade" id="search">
                    <h2>搜索你要的</h2>
                    <hr>
                    <div class="search">
                        <form>
                            <input type="search" placeholder="搜索你想要的">
                            <input type="submit" value=" ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--<script>-->
            <!--$("#advice").load("activity_unit.html");-->
        <!--</script>-->
    </div>
</div>

<!--footer-->
<include file="Application/Public/tpl/footer.html" />
<!--//footer-->
<!--copy-right-->
<include file="Application/Public/tpl/copy-right.html" />
<!--//copy-right-->

<!-- for bootstrap working -->
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
