<!DOCTYPE html>
<html>
<head>
    <title>伙伴</title>
    <!--fonts-->
    <!--<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
    <script>
        function setCookie(){
            document.cookie = "userId={$user.uid}";
            var nav = document.getElementsByClassName("hvr-bounce-to-bottom")[1];
            nav.setAttribute("class",nav.getAttribute("class").concat(" active"));
            initialDate();
            //script-for-menu
            $("span.menu2").click(function () {
                $("ul.effct1").slideToggle(300, function () {
                    // Animation complete.
                });
            });
        }
    </script>
</head>
<body onload="setCookie()">
<!-- header -->
<include file="Application/Public/tpl/header.html" />
<!-- //header -->

<div class="main" style="margin-top: 130px">
    <div class="container">
        <div class="col-md-3" style="padding: 0">
            <div class="top-nav2">
                <span class="menu2"><img src="__PUBLIC__/images/menu.png" alt=""> <lable>健康管理</lable></span>
                <ul class="effct1" style="display: block;">
                    <li class="active m1"><a href="#overview" data-toggle="tab">我的运动</a></li>
                    <li class="m2"><a href="#health" data-toggle="tab">身体管理</a></li>
                    <li class="m3" onclick="getExerciseInfo()"><a href="#exercise" data-toggle="tab">健身追踪器</a></li>
                    <li class="m4" onclick="getSlumberInfo()"><a href="#slumber" data-toggle="tab">睡眠分析</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="overview">
                    <div class="title">
                        <p>你当天的健康状况</p>
                    </div>
                    <div class="circle circle-hole">
                        <div class="blank35"></div>
                        <p>"零夜"安眠</p>

                        <p class="boler">{$user.slumber_time}</p>
                    </div>
                    <div class="circle circle-blue">
                        <div class="blank35"></div>
                        <p>今天运动</p>

                        <p class="boler">{$user.step_number}步</p>
                    </div>
                    <div class="circle circle-green">
                        <div class="blank35"></div>
                        <p>健康</p>

                        <p class="bolder">BMI {$user.BMI}</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="health">
                    <div class="title">
                        <p>你的身体状况</p>
                    </div>
                    <div>
                        <div class="people inline">
                            <img src="__PUBLIC__/images/people.png" alt=""/>
                        </div>
                        <div class="inline middle-y">
                            <canvas id = "myCanvas" width="100px">people-line</canvas>
                            <script>
                                var myCanvas = document.getElementById("myCanvas");
                                var context = myCanvas.getContext("2d");
                                context.strokeStyle ='hsl(120,50%,50%)';//线条颜色：绿色
                                context.lineWidth = 3;//设置线宽
                                context.beginPath();
                                context.moveTo(0,3);
                                context.lineTo(50,3);
                                context.lineTo(120,30);
                                context.stroke();//画线框
                                context.beginPath();
                                context.moveTo(50,3);
                                context.lineTo(120,100);
                                context.stroke();//画线框
                            </script>
                        </div>
                        <div class="inline middle-y" style="margin-left: -10px">
                            <div class="body-text">
                                <label>身高：<input type="text" id="height" value="{$user.height}"> 厘米</label>
                            </div>
                            <div class="body-text">
                                <label>体重：<input type="text" id="weight" value="{$user.weight}"> 公斤</label>
                            </div>
                            <div class="body-text">
                                <button class="" onclick="saveBaseInfo()">保存</button>
                            </div>
                        </div>
                        <div class="circle circle-green">
                            <div class="blank35"></div>
                            <p>健康</p>
                            <p class="bolder">BMI {$user.BMI}</p>
                        </div>
                    </div>
                    <div class="bmi-text col-md-7" style="float: right">
                        <div>偏瘦</div>
                        <div>正常</div>
                        <div>偏胖</div>
                        <div>肥胖</div>
                    </div>
                    <div class="progress col-md-7" style="float: right;">
                        <div class="progress-bar progress-bar-info" style="width: 25%;"><span>18.5</span>
                            <span class="sr-only">15% Complete (success)</span>
                        </div>

                        <div class="progress-bar progress-bar-success" style="width: 35%"><span>24</span>
                            <span class="sr-only">20% Complete (success)</span>
                        </div>
                        <div class="progress-bar progress-bar-warning" style="width: 20%"><span>28</span>
                            <span class="sr-only">20% Complete (warning)</span>
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: 20%">
                            <span class="sr-only">10% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="exercise">
                    <div class="title">
                        <p>健身追踪</p>
                        <label>每天运动目标：<input type="text" id="exercise_goal" value="{$user.exercise_goal}">步
                            <button onclick="saveExerciseGoal()">更改</button>
                        </label>
                    </div>
                    <div class="blank35"></div>
                    <div class="col-md-4">
                        <div class="circle circle-hole-sm circle-hole">
                            <div class="blank20"></div>
                            <p>目标完成</p>
                            <p class="boler" id="complete_goal">0%</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="exercise">
                            <div class="blank20"></div>
                            <ul>
                                <li>
                                    <span>运动距离</span>
                                    <br>
                                    <span class="bolder" id="meters">0</span>
                                </li>
                                <li>
                                    <span>运动时长</span>
                                    <br>
                                    <span class="bolder" id="exercise_duration">0</span>
                                </li>
                                <li>
                                    <span>燃烧热量</span>
                                    <br>
                                    <span class="bolder" id="calories">0</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="date-div">
                        <label for="date">日期：</label><input type="date" id="exercise_date" class="date" onchange="updateExerciseInfo()"  />
                    </div>
                    <div class="title-2">
                        <p>运动曲线:<span id="exerciseGot"></span></p>
                    </div>
                    <canvas id="exerciseChart" width="850" height="0"></canvas>
                </div>
                <div class="tab-pane fade in" id="slumber">
                    <div class="title">
                        <p>睡眠分析</p>
                    </div>
                    <div class="blank25"></div>
                    <div class="col-md-4">
                        <div class="circle circle-sm circle-blue">
                            <div class="blank20"></div>
                            <p>睡眠有效率</p>

                            <p class="boler" id="effective_rate">0</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="exercise">
                            <div class="blank20"></div>
                            <ul>
                                <li>
                                    <span>睡眠开始</span>
                                    <br>
                                    <span class="bolder" id="begin_time">00:00:00</span>
                                </li>
                                <li>
                                    <span>睡眠结束</span>
                                    <br>
                                    <span class="bolder" id="end_time">00:00:00</span>
                                </li>
                                <li>
                                    <span>睡眠总时长</span>
                                    <br>
                                    <span class="bolder" id="slumber_time">0</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="date-div">
                        <label for="date">日期：</label><input type="date" id="slumber_date" class="date" onchange="updateSlumberInfo()" value="{:date('Y-m-d')}">
                    </div>
                    <div class="title-2">
                        <p>睡眠分析:<span id="slumberGot"></span></p>
                    </div>
                    <canvas id="slumberChart" width="800" height="0"></canvas>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

<include file="Application/Public/tpl/modal_success.html" />

<!--footer-->
<include file="Application/Public/tpl/footer.html" />
<!--//footer-->
<!--copy-right-->
<include file="Application/Public/tpl/copy-right.html" />
<!--//copy-right-->

<!-- for bootstrap working -->
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Chart.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/health.js"></script>
<script>
    $("#exercise_goal").ready(function() {
        $("#exercise_goal").keypress(function (e) {
          if (e.which == 13) {
            saveExerciseGoal()
            return false;    //<---- Add this line
          }
        });
    })
</script>
<!-- //for bootstrap working -->
</body>
</html>
