<!DOCTYPE html>
<html>
<head>
    <title>伙伴</title>
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
    <script>
        function setCookie(){
            document.cookie = "userId={$user.uid}";
            var nav = document.getElementsByClassName("hvr-bounce-to-bottom")[0];
            nav.setAttribute("class",nav.getAttribute("class").concat(" active"))
        }
    </script>
</head>
<body onload="setCookie()">
<!-- header -->
<include file="Application/Public/tpl/header.html" />
<!-- //header -->

<div class="main" style="margin-top: 130px">
    <div class="container">
        <div class="col-md-4">
            <div style="height: 80px;;"></div>
            <div class="cntnt-img">
            </div>
            <div class="bnr-img">
                <img src="__PUBLIC__/data/{$user.icon_url}" alt="user_icon"/>
            </div>
            <div class="bnr-text">
                <h1>{$user.name}</h1>
            </div>
        </div>

        <div class="col-md-8">
            <div class="summary col-md-12">
                <h1>自加入伙伴以来</h1>

                <div class="col-md-4">
                    <div class="circle circle-yellow">
                        <div class="blank35"></div>
                        <p>已运动</p>
                        <p>{$user.exercise_amount}天</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="circle circle-blue">
                        <div class="blank35"></div>
                        <p>已加入</p>
                        <p id="enter_time">{$user.enter_time}</p>
                        <script>
                            var enter_time = document.getElementById("enter_time");
                            enter_time.innerHTML = parseInt((new Date().getTime() - new Date(enter_time.innerHTML).getTime())/(24 * 60 * 60 * 1000)) + "天";
                        </script>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="circle circle-green">
                        <div class="blank35"></div>
                        <p>共燃烧</p>
                        <p>{$user.exercise_amount}千卡</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active" style="width: 33.3%">
                        <a href="#home" data-toggle="tab">
                            总排名
                        </a>
                    </li>
                    <li style="width: 33.3%">
                        <a href="#ios" data-toggle="tab">
                            朋友排名
                        </a>
                    </li>
                </ul>
                <div id="myTabCon" class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <ol class="rounded-list">
                            <li><a href=""><img src="__PUBLIC__/images/team-1.jpg" alt="1"><span>七秒悲伤</span></a></li>
                            <li><a href=""><img src="__PUBLIC__/images/team-2.jpg" alt="1"><span>三秒悲痛</span></a></li>
                            <li><a href=""><img src="__PUBLIC__/images/team-3.jpg" alt="1"><span>大西瓜</span></a></li>
                            <li><a href=""><img src="__PUBLIC__/images/team-4.jpg" alt="1"><span>情定前夕</span></a></li>
                            <li><a href=""><img src="__PUBLIC__/images/333.jpg" alt="1"><span>西风残照之伤</span></a></li>
                            <li><a href=""><img src="__PUBLIC__/images/222.jpg" alt="1"><span>暗红</span></a></li>
                            <li><a href=""><img src="__PUBLIC__/images/111.jpg" alt="1"><span>方正电脑5</span></a></li>
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="ios">
                        <ol class="rounded-list">
                            <li><a href=""><img src="__PUBLIC__/images/team-2.jpg" alt="1"><span>三秒悲痛</span></a></li>
                            <li><a href=""><img src="__PUBLIC__/images/team-4.jpg" alt="1"><span>情定前夕</span></a></li>
                            <li><a href=""><img src="__PUBLIC__/images/333.jpg" alt="1"><span>呵呵哒</span></a></li>
                            <li><a href=""><img src="__PUBLIC__/images/team-3.jpg" alt="1"><span>大西瓜</span></a></li>
                            <li><a href=""><img src="__PUBLIC__/images/team-1.jpg" alt="1"><span>暗红</span></a></li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--footer-->
<include file="Application/Public/tpl/footer.html" />
<!--//footer-->
<!--copy-right-->
<include file="Application/Public/tpl/copy-right.html" />
<!--//copy-right-->

<!-- for bootstrap working -->
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
