<!DOCTYPE html>
<html>
<head>
    <title>伙伴</title>
    <!--fonts-->
    <!--<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>-->
    <!--//fonts-->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
    <script>
        function setCookie(){
            document.cookie = "userId={$user.uid}";
            initGender();
        }
    </script>
    <style>
        .infoLabel {
             font-family: "Times New Roman", Times, serif;
             font-size: 20px;
             font-weight: lighter;
             display: block;
             padding: 8px;
        }

        .infoLabel span {
            font-weight: bold;
            margin-right: 50px;
        }
    </style>
</head>
<body onload="setCookie()">
<!-- header -->
<include file="Application/Public/tpl/header.html" />
<!-- //header -->

<div class="main" style="margin-top: 130px">
    <div style="display:flex; justify-content: center">
        <img src="__PUBLIC__/data/{$otherUser.icon_url}" alt="" style="display:block;border-radius:50px" width="100px" height="100px" >
    </div>
    <div style="display:flex; justify-content:center; align-items: center">
        <div>
            <label class="infoLabel"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;昵称&nbsp;:</span>{$otherUser.name}</label>
            <label class="infoLabel"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别&nbsp;:</span>{$otherUser.gender}</label>
            <label class="infoLabel"><span>出生日期&nbsp;:</span>{$otherUser.birthday}</label>
            <label class="infoLabel"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱&nbsp;:</span><a href="mailto:{$otherUser.email}">{$otherUser.email}</a></label>
            <label class="infoLabel" style="font-style: italic"><span style="font-style: normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;身份&nbsp;:</span>医生</label>
            <label class="infoLabel" style="font-style: italic"><span style="font-style: normal">个性签名&nbsp;:</span>{$otherUser.sign}</label>
        </div>
    </div>
</div>

<!--modal-->
<include file="Application/Public/tpl/modal_success.html" />
<!--//modal-->
<!--footer-->
<include file="Application/Public/tpl/footer.html" />
<!--//footer-->
<!--copy-right-->
<include file="Application/Public/tpl/copy-right.html" />
<!--//copy-right-->

<!-- for js working -->
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/user.js"></script>
<!-- //for js working -->
</body>
</html>
